--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.0+cu118
numpy==1.26.4
transformers
timm
accelerate
git+https://github.com/gokyeongryeol/diffusers.git@instancediffusion
runpod